html,body{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    background: url(../images/wzq/bodyBg.jpg) no-repeat 0 0/100%;
}
.wrap{
    position: relative;
    box-sizing: border-box;
    width: 640px;
    height: 640px;
    background-color: rgba(255,255,255,.6);
    margin: 150px auto;
    padding: 20px;
    cursor: url(../images/wzq/lj.cur) ,auto;
}
.wrap canvas{
    background-color: transparent;
}
.wrap>.text{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 212px;
    transform: translate(-50%,-50%);
    background-color: rgba(131, 99, 52, 1);
    border: 1px solid rgb(80, 235, 209);
    border-radius: 10px;
}
.wrap>.active{
    display: block;
}
.wrap>.text>p{
    position: absolute;
    top: 20%;
    text-align: center;
    font-size: 24px;
    color: gold;
    font-weight: bold;
    width: 100%;
}
.wrap>.text>button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 130px;
    height: 34px;
    transform: translateX(-50%);
    background-color: rgb(149, 241, 221);
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: bold;
    transition: .3s;
    cursor: url(../images/wzq/lj.cur) ,auto;
}
.wrap>.text>button:hover{
    background-color: rgb(15, 245, 195);
    /* transform: scale(1.1); */
}
.robot{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.1);
    line-height: 640px;
}
.active1{
    display: block;
}
.robot>p{
    text-align: center;
    font-size: 24px;
    color: red;
}
.robot>p>span{
    display: inline-block;
}
.robot>p>span:nth-child(1){
    animation: moves 1s infinite;
}
.robot>p>span:nth-child(2){
    animation: moves 1s infinite;
    animation-delay: .1s;
}
.robot>p>span:nth-child(3){
    animation: moves 1s infinite;
    animation-delay: .2s;
}
.robot>p>span:nth-child(4){
    animation: moves 1s infinite;
    animation-delay: .3s;
}
.robot>p>span:nth-child(5){
    animation: moves 1s infinite;
    animation-delay: .4s;
}
.robot>p>span:nth-child(6){
    animation: moves 1s infinite;
    animation-delay: .5s;
}
.robot>p>span:nth-child(7){
    animation: moves 1s infinite;
    animation-delay: .6s;
}
.robot>p>span:nth-child(8){
    animation: moves 1s infinite;
    animation-delay: .7s;
}
.robot>p>span:nth-child(9){
    animation: moves 1s infinite;
    animation-delay: .8s;
}
.robot>p>span:nth-child(10){
    animation: moves 1s infinite;
    animation-delay: .9s;
}
.robot>p>span:nth-child(11){
    animation: moves 1s infinite;
    animation-delay: 1s;
}
.robot>p>span:nth-child(12){
    animation: moves 1s infinite;
    animation-delay: 1.1s;
}
.robot>p>span:nth-child(13){
    animation: moves 1s infinite;
    animation-delay: 1.2s;
}
.robot>p>span:nth-child(14){
    animation: moves 1s infinite;
    animation-delay: 1.3s;
}
.robot>p>span:nth-child(15){
    animation: moves 1s infinite;
    animation-delay: 1.4s;
}
@keyframes moves{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}